#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding:  0;
  text-align: center;
  background: #fff;
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
